.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#sidebar{
  width: "100%";
  padding: 3px;
  border-radius: 10px;
  font-size: medium;
  height: "100%";
}

#myicon{
  min-width: 20px;
}

.adp-list{
  word-break: break-all !important;
  background-color: #eaf0f7 !important;
}
.adp-listsel{
  background-color: #ffffff !important;
  border-radius: 4px !important;
  padding: 2px !important;

}
